VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqaW1zYnhtbGRkcHVncGd5ZXd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNzg1OTMsImV4cCI6MjA5ODY1NDU5M30.WyGLwckilFr2z0-dVR_YUYOs5MGeWV2Hgg0HalSvpSk
VITE_SUPABASE_URL=https://jjimsbxmlddpugpgyewy.supabase.co